/*设置背景*/
body {
    background: #222;
}

.navbar-right {
    margin-right: 0px;
}

/*取消导航栏的默认圆角*/
.navbar-default {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

/*顶部导航栏底部margin:0*/
.navbar-static-top {
    margin-bottom: 0px;
}

/*取消li的圆点*/
li {
    list-style: none;
}

.taotao-top-nav li:last-child {
    margin-right: 15px;
}

/*使li横向排列*/
.taotao-top-nav > li {
    float: left;
    display: inline-block;
}

.taotao-top-nav > li > a {
    color: #9d9d9d;
    height: 50px;
    /*li里的a元素居中*/
    line-height: 20px;
    padding: 15px 15px;
}

/*a的聚焦颜色*/
.taotao-top-nav > li > a:hover {
    color: white;
}

.taotao-top-nav > li > a:hover,
.taotao-top-nav > li > a:focus,
.taotao-top-nav > li.open > a {
    background: #383838 !important;
}

@media (min-width: 768px) {
    .dropdown-menu-caret:before {
        position: absolute;
        top: -7px;
        right: 9px;
        display: inline-block;
        border-bottom: 7px solid #ccc;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        content: "";
    }

    .dropdown-menu-caret:after {
        position: absolute;
        top: -6px;
        right: 10px;
        display: inline-block;
        border-bottom: 6px solid #fff;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        content: "";
    }
}

@media (min-width: 768px) {
    .dropup-menu-caret:before {
        position: absolute;
        bottom: -7px;
        right: 9px;
        display: inline-block;
        border-top: 7px solid #ccc;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        content: "";
    }

    .dropup-menu-caret:after {
        position: absolute;
        bottom: -6px;
        right: 10px;
        display: inline-block;
        border-top: 6px solid #fff;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        content: "";
    }
}

@media (max-width: 768px) {
    .dropdown-menu-caret:before {
        position: absolute;
        top: -7px;
        left: 9px;
        display: inline-block;
        border-bottom: 7px solid #ccc;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        content: "";
    }

    .dropdown-menu-caret:after {
        position: absolute;
        top: -6px;
        left: 10px;
        display: inline-block;
        border-bottom: 6px solid #fff;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        content: "";
    }
}

@media (min-width: 768px) {
    .navbar-collapse {
        width: 225px;
        position: absolute;
        margin-top: 51px;
    }
}

.navbar-collapse {
    border: solid black 1px;
}

.metisFolder a {
    color: #9d9d9d;
}

.metisFolder a:hover {
    color: #ffffff;
}

.metisFolder > li a:hover,
.metisFolder > li a:visited,
.metisFolder > li.active > a,
.metisFolder > li a:focus {
    background: #383838 !important;
}

.sidebar-search {
    padding: 15px;
}

.folder::before {
    display: none;
    font-family: "Font Awesome 5 Regular";
    content: "\f07b";
}

.active > a > .folder::before {
    display: none;
    font-family: "Font Awesome 5 Regular";
    content: "\f07c";
}

.arrow {
    float: right;
}

.active > a > .arrow::before {
    display: none;
    /*font-family: "Font Awesome 5 Regular";*/
    /*content: "\f0a4";*/
}

.arrow::before {
    display: none;
    /*font-family: "Font Awesome 5 Regular";*/
    /*content: "\f0a4";*/
}

.page-wrapper {
    padding: 0 15px;
    background: white;
    min-height: 752px;
}

@media (min-width: 768px) {
    .page-wrapper {
        margin: 0 0 0 225px;
        position: inherit;
        padding: 0 30px;
    }
}

.bread-navbar {
    margin: 0 -15px;
    min-height: 41px;
    line-height: 40px;
    background: #222;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border: solid black 1px;
}

.bread-navbar > li a {
    color: #9d9d9d;
}

.bread-navbar > .active {
    color: white;
    text-decoration: none;
}

@media (min-width: 768px) {
    .bread-navbar {
        margin: 0 -30px;
    }
}

.wrapper-content {
    margin-top: 30px;
}

@media (max-width: 768px) {
    .wrapper-table {
        margin-top: 15px;
    }
}

.panel {
    margin-bottom: 0px;
}

.wrapper-content > div > div > .panel {
    min-height: 700px;
}

/*.wrapper-content > div
.jstree-open > a > i.fa-folder:before {
    content: '\f07c';
}*/

.file-preview-image {
    height: 160px;
    width: auto;
}

.note-editable.panel-body li {
    list-style: inherit;
}

#cid_choosed {
    border: none;
}

.warnning-icon > span.fa-warning {
    font-size: 8em;
    /*line-height: 1.5em;*/
    color: navajowhite;
}

.modal-delete div,
.modal-delete h1,
.modal-delete p {
    padding: 10px 0;
}

/*商品表格中的操作的样式*/
.dropdown-edit > ul.dropdown-menu {
    right: 0;
    left: auto;
    min-width: 120px;
}

.powerTitle,
.batteryTitle,
.environmentTitle{
    margin: 0 0 12px;
    border-bottom: 1px dotted grey;
    padding-bottom: 16px;
    padding-top: 7px;
}

.powerTitle > h1,
.batteryTitle > h1,
.environmentTitle > h1{
    padding: 0;
    margin: 0 8px;
    font-size: 32px;
    font-weight: lighter;
    color: #2679B5;
}

/*itemParam样式设置*/
.powerTitle small,
.batteryTitle small,
.environmentTitle small{
    margin: 0 6px;
    font-size: 14px;
    font-weight: 300;
    color: #8089A0;
}

.param-body {
    display: table;
    border-left: 1px solid #d9edf7;
    border-right: 1px solid #d9edf7;
    width: 98%;
}

.param-row:first-child .param-name,
.param-row:first-child .param-value {
    border-top: 1px solid #d9edf7;
}

.param-row:last-child .param-name,
.param-row:last-child .param-value {
    border-bottom: 1px solid #d9edf7;
}

.param-row {
    display: table-row;
}

.param-name {
    display: table-cell;
    background: #d9edf7;
    color: #31708f;
    text-align: right;
    width: 80px;
    padding: 6px 10px 6px 4px;
    border-top: 1px solid white;
}

.param-value {
    display: table-cell;
    padding: 12px;
    border-top: 1px dotted #d9edf7;
}

.edit-group {
    /*display: inline;*/
    /*float: right;*/
}

.edit-group a {
    color: inherit;
    line-height: 27px;
}

.powerParam .panel,
.batteryParam .panel,
.environmentParam .panel{
    margin-bottom: 20px;

}

.powerParam .panel-body,
.batteryParam .panel-body,
.environmentParam .panel-body{
    height: 320px;
    overflow: scroll;
}

.panel-title > a.editable.editable-click.editable-disabled {
    color: white !important;
    border-bottom: none;
}

h3.panel-title {
    line-height: normal;
}

.panel-title > a.editable.editable-click {
    color: white;
    border-bottom: dashed 1px white;
}

div.editable-input > input {
    width: 100px !important;
    margin-left: 10px;
}

.panel-title .btn-primary {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.panel-title .btn-primary:hover {
    background-color: #449d44;
    border-color: #398439;
}

.deleteModal h2 {
    margin: 15px;
}

.deleteLine {
    float: right;
    color: #a94442;
    line-height: 25px;
}

.deleteLine:hover,
.deleteLine:visited {
    color: #a9171d;
}

.parameters div.row{
    margin-bottom: 5px;
}

/*content page css*/
.CatTree{
    border-right: solid 1px #ddd;
    min-height: 700px
}

.form-group{
    margin-bottom: 10px !important;
}

.radio-inline > .form-control-feedback{
    right: -60px !important;
}

table.text-nowrap{
    text-align: center;
}

table.text-nowrap>thead>tr>th{
    text-align: center;
}

.form-horizontal label{
    font-size: 12px;
}

